  <li class='list'>
<picture>
<source srcset="{{webp}}" 
type="image/webp">
 <img class="list__img" src="{{photo}}" alt="{{name}}" width="190"
      height="190" >
</picture>
           <div class='list__wrapper'>
  <p class='list__title'>{{name}}</p>
  <p class='list__subtitle'>{{position}}</p>
      <a class="list__link" href="{{github}}"
  rel="noopener noreferrer" aria-label="github">
  <span class="list__icon"></span>
 </a>
  </li>
  </ul>
  </div>
</li>
 