<li class='list__team'>
  <picture>
    <source srcset='{{webp}}' type='image/webp' />
    <img
      class='list__team-img'
      src='{{photo}}'
      alt='{{name}}'
      width='190'
      height='190'
    />
  </picture>
  <div class='list__team-wrapper'>
    <p class='list__team-title'>{{name}}</p>
    <p class='list__team-subtitle'>{{position}}</p>
    <a
      class='list__team-link'
      target='_blank'
      href='{{github}}'
      rel='noopener noreferrer'
      aria-label='github'
    >
      <span class='list__team-icon'></span>
    </a>
  </div>
</li>