{{#each this}}
  <div class='library-wraper'>
    <a
      class='library-gallery__item'
      href='#'
      target='_blank'
      rel='noopener noreferrer'
    >

      <img
        src='{{poster_path}}'
        class='library-card__img'
        alt='{{title}}{{name}}'
        id='{{id}}'
      />
      <div class='library-info'>
        <h3 class='library-info__title'>{{title}}{{name}}</h3>
        <div class='wrap-library'>
          <p class='library-info__genre'>{{genreFilmStr}}
            |
            {{year}}</p>
          <span class='film-rating'>{{genreVoit}}</span>
        </div>

      </div>
    </a>

  </div>
{{/each}}