{{#each this}}
  <a class='gallery__item' href='#' target='_blank' rel='noopener noreferrer' aria-label="gallery__card">
    <div class='card'>

      <img src='{{poster_path}}' class='card-img' alt='{{title}}' id='{{id}}' loading="lazy" />
      <div class='info'>
        <p class='info-title'>{{title}}{{name}}</p>
        <div class='desc-wrapper'>
          <p class='info-genre'>{{genre_ids}}
            |
            {{release_date}}{{first_air_date}}
          </p>
          {{!-- <p class="info-line">|</p>
                <p class="info-release"> {{release_date}}</p> --}}
          {{!-- <p class="info-average category-accent is-hidden">`{{vote_average}}`</p> --}}
        </div>
      </div>
    </div>
  </a>
{{/each}}