<div class='film-info'>
  <img
    src='{{poster_path}}'
    class='film-info__poster'
    alt='{{title}}'
    loading="lazy"
  
  />

  <div class='flex-wrapper'>
    <h2 class='film-info__title'>{{title}}</h2>
    <h2 class='film-info__title'>{{titleM}}</h2>
    <div class='film-info__container'>
      
      
    </div>
    <p class='film-info__about'>About</p>
    <p class='film-info__desc'>{{about}} </p>
    <a href="{{link}}">{{link}} </a>
   
    <img
    src='{{qr}}'
    class='qr-code'
    alt='{{qr_alt}}'
    height='230px'
    width='230px'
  />
  </div>
</div>